.showup-animation {
    opacity: 0;
    animation-name: show-up;
    animation-duration: 2s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
}

@keyframes show-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

html {
    scroll-behavior: smooth;
  }

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.bg-form{
    background-color: whitesmoke;
    width: 90%;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 5px 10px 18px #0545598c;
  }
  
.img-zoom:hover {
    height: 350px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.letter-spacing {
    letter-spacing: .05em;
}